{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set title = 'Form House - Submissions' %}
{% set selectedSubnavItem = 'submissions' %}


{% set content %}
<h1>Hello world</h1>
{% endset %}

