{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% do view.registerAssetBundle("formhouse\\formhouse\\resources\\forms\\FormsAsset") %}

{% set title = 'Form House - Forms' %}
{% set selectedSubnavItem = 'forms' %}

{% set content %}
<h1>Hello world</h1>
<div id="react-forms"></div>
{% endset %}

